<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 控制台输出 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 设置全局日志级别 -->
  <root level="info"> <!-- 将日志级别改为 INFO -->
    <appender-ref ref="CONSOLE" />
  </root>

  <!-- 单独为某些包设置日志级别 -->
  <logger name="org.apache.sshd.common.kex" level="TRACE" />
  <logger name="org.apache.sshd.server.session" level="TRACE" />
</configuration>
